*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:rgb(230, 230, 249)
}


.container{

    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: rgb(61, 130, 215);
    padding: 30px 40px;

    box-shadow: rgba(144, 190, 255, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.container h1{

    font-size: 36px;
    text-align: center;
    color: rgb(85, 132, 221);;
}

.inputBox input{


    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid;
    border-radius: 40px;
    font-size: 16px;
    outline: none;
    color: rgb(110, 118, 233);
    padding: 20px 45px 20px 20px;
}

.inputBox input::placeholder { 

    color: rgb(72, 55, 170);
}

.inputBox i{

    position: absolute;
    font-size: 20px;
    margin-top: 26px;

}

.lembrarEsquecer a{
    margin-left: 11px;
    text-decoration: none;
    color: rgb(72, 55, 170);
}

.lembrarEsquecer a:hover{
    text-decoration: underline;
}

.registrar a{
    margin-left: 50px;
    text-decoration: none;
    color: rgb(25, 32, 163);
}

.registrar a:hover{
    text-decoration: underline;
}

.login{
    height: 50px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 40px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.5s;
}

.login:hover{

background-color: transparent;
border: 2px solid rgba(51, 43, 43, 0.25);
border-width: 1px;
border-color: #340d0d;
color: rgb(62, 107, 195);

}